@model PracticalThirteenTest2.Models.Designation

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
<hr class="w-25"/>
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Designations)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Designations)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-sm btn-primary" }) |
    @Html.ActionLink("Back to List", "Index", string.Empty, htmlAttributes: new { @class = "btn btn-sm btn-info" })
</p>
